################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/Singly Linked List.AssemblyInfo.cs
/obj/Debug/net7.0/Singly Linked List.AssemblyInfoInputs.cache
/obj/Debug/net7.0/Singly Linked List.assets.cache
/obj/Debug/net7.0/Singly Linked List.csproj.AssemblyReference.cache
/obj/Debug/net7.0/Singly Linked List.GeneratedMSBuildEditorConfig.editorconfig
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Singly Linked List.csproj.nuget.dgspec.json
/obj/Singly Linked List.csproj.nuget.g.props
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/CodeChunks.db
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/SemanticSymbols.db
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
/.vs/ProjectEvaluation/singly linked list.metadata.v7.bin
/.vs/ProjectEvaluation/singly linked list.projects.v7.bin
/.vs/Singly Linked List/FileContentIndex/12b5e9b6-d574-4d4f-8326-28dd0bc14d56.vsidx
/.vs/Singly Linked List/FileContentIndex/262605f3-6b1c-4c33-84f6-e8faaf10d101.vsidx
/.vs/Singly Linked List/FileContentIndex/9eae2dee-4622-4c58-92fc-036b44a08383.vsidx
/.vs/Singly Linked List/FileContentIndex/bb79a91a-138b-4348-b049-de1f50b58102.vsidx
/.vs/Singly Linked List/FileContentIndex/f8dd470b-24a1-4ab9-b074-fe3502e9cf17.vsidx
/.vs/Singly Linked List/FileContentIndex/read.lock
/.vs/Singly Linked List/v17/.futdcache.v2
/.vs/Singly Linked List/v17/.suo
/.vs/Singly Linked List/v17/DocumentLayout.backup.json
/.vs/Singly Linked List/v17/DocumentLayout.json
