################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/Singly Linked List.AssemblyInfo.cs
/obj/Debug/net7.0/Singly Linked List.AssemblyInfoInputs.cache
/obj/Debug/net7.0/Singly Linked List.assets.cache
/obj/Debug/net7.0/Singly Linked List.csproj.AssemblyReference.cache
/obj/Debug/net7.0/Singly Linked List.GeneratedMSBuildEditorConfig.editorconfig
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Singly Linked List.csproj.nuget.dgspec.json
/obj/Singly Linked List.csproj.nuget.g.props
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/CodeChunks.db
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/SemanticSymbols.db
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
/.vs/Singly Linked List/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
/.vs/ProjectEvaluation/singly linked list.metadata.v7.bin
/.vs/ProjectEvaluation/singly linked list.projects.v7.bin
